*{
    margin: 0;
    overflow: hidden;
}
.main{
    width: 100vw;
    height: 100vh;
    background: whitesmoke;
}
.navbar{
    width: 100vw;
    height: 10vh;
    background-color: black;
}
.plate{
    width: 30vw;
    position: relative;
    left: 65vw;
    top: 15vh;
    animation: slide-right;
    animation-duration: 2s;
}
@keyframes slide-right {
    0%{
         left: 100vw;
        transform: rotate(120deg);
    }
    100%{
        left: 65vw;
        transform: rotate(0deg);
    }
}
.main_text{
    color: orange;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 5;
    font-size: 8vw;
    position: relative;
    top: -50vh;
    left: 5vw;
    animation: slide;
    animation-duration: 1.5s;
}
@keyframes slide {
    0%{
        left: -50vw;
    }
    100%{
      left: 5vw;
    }
}
.about_text{
    width: 60vw;
    position: relative;
    top: -51vh;
    left: 5vw;
    font-family: agency fb;
    font-size: 3vw;
    animation: up;
    animation-duration: 2s;
}
@keyframes up {
    0%{
       top: 150vh;
    }
    100%{
       top: -51vh;
    }
}